.formWorkers{
    margin-top: 30px;
}
.select{
    margin-top: 15px;
}
/*
body { 
  background: url("https://mdbootstrap.com/img/Photos/Others/images/81.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/


/*
MDBCardTitle{
  border:2px dashed purple;
}
*/

.btnAddWorker{
    margin-top: 40px;
    text-align: center;
}
.btnRight{
    text-align: right;
}
.icon{
    float: right;
    margin-left: 10px; 
}
.link{
    cursor: pointer; 
    cursor: hand;
}
.label{
    font-size: 13px;
    font-weight: 300;
    color: #757575;
}
.label-shifts{
    font-size: 16px;
    font-weight: 300;
    color: #757575;
}

.inputShift{
    margin-top: 20px;
    text-align: left;
}
.cardBody{
    text-align: center;
}
.marginTop{
    margin-top: 20px;
}
.title{
    height: 28px;
}
.iconContainer{
    height: 50px;
}
.marginLeft{
    margin-left: 20px;
}
.inputLogin{
    width: 90% !important;
    display: inline-block !important;
    margin-left: 10px;
}
.c{
    width: 100%
    
}

