.formWorkers{
    margin-top: 30px;
}
.select{
    margin-top: 15px;
}
.btnAddWorker{
    margin-top: 40px;
    text-align: center;
}
.btnNew{
    text-align: right;
}
.icon{
    float: right;
    margin-left: 10px; 
}
.link{
    cursor: pointer; 
    cursor: hand;
}
.labelCargo{
    font-size: 13px;
    font-weight: 300;
    color: #757575;
}